---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro'; // or delete this line if you're not using a layout
const { slug } = Astro.params;

const allPosts = await getCollection('blog');
const post = allPosts.find((post) => post.slug === slug);

if (!post) {
  throw new Error(`Post not found for slug: ${slug}`);
}
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{post.data.title}</title>
  </head>
  <body style="padding: 2rem; background: #0e0e0e; color: #dcdcdc; font-family: 'JetBrains Mono', monospace;">
    <article style="max-width: 800px; margin: auto;">
      <h1>{post.data.title}</h1>
      <p><small>{post.data.pubDate.toDateString()}</small></p>
      <p><em>{post.data.description}</em></p>
      <div innerHTML={post.body}></div>
    </article>
  </body>
</html>
